<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ouyanglol.crawler.mapper.CrawlerArticleMapper">
  <resultMap id="BaseResultMap" type="com.ouyanglol.crawler.model.CrawlerArticle">
    <!--          -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="source_url" jdbcType="VARCHAR" property="sourceUrl" />
    <result column="publish_date" jdbcType="TIMESTAMP" property="publishDate" />
    <result column="author" jdbcType="VARCHAR" property="author" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ouyanglol.crawler.model.CrawlerArticle">
    <!--          -->
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--          -->
    id, title, create_date, source_url, publish_date, author
  </sql>
  <sql id="Blob_Column_List">
    <!--          -->
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    <!--          -->
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawler_article
    where 1=1 AND id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getCount" resultType="_int" parameterType="java.lang.String">
    SELECT
      count(id)
    FROM crawler_article
    WHERE title LIKE CONCAT('%',#{keyWord},'%')
  </select>
  <select id="getList" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from crawler_article
    where 1=1 AND title LIKE CONCAT('%',#{keyWord},'%')
    LIMIT ${start},${pageSize}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--          -->
    delete from crawler_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ouyanglol.crawler.model.CrawlerArticle">
    <!--          -->
    insert into crawler_article (id, title, create_date, 
      source_url, publish_date, author, 
      content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{sourceUrl,jdbcType=VARCHAR}, #{publishDate,jdbcType=TIMESTAMP}, #{author,jdbcType=VARCHAR}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ouyanglol.crawler.model.CrawlerArticle">
    <!--          -->
    insert into crawler_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="sourceUrl != null">
        source_url,
      </if>
      <if test="publishDate != null">
        publish_date,
      </if>
      <if test="author != null">
        author,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceUrl != null">
        #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ouyanglol.crawler.model.CrawlerArticle">
    <!--          -->
    update crawler_article
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sourceUrl != null">
        source_url = #{sourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="publishDate != null">
        publish_date = #{publishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ouyanglol.crawler.model.CrawlerArticle">
    <!--          -->
    update crawler_article
    set title = #{title,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ouyanglol.crawler.model.CrawlerArticle">
    <!--          -->
    update crawler_article
    set title = #{title,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      source_url = #{sourceUrl,jdbcType=VARCHAR},
      publish_date = #{publishDate,jdbcType=TIMESTAMP},
      author = #{author,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>